In [1]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [2]:
nba_seasons = "Seasons_Stats.csv"
nba_seasons_df = pd.read_csv(nba_seasons, encoding = "utf-8")

In [3]:
nba_seasons_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [4]:
nba_seasons_df = nba_seasons_df[(nba_seasons_df['Year'] > 2009.0)]

In [5]:
nba_seasons_df = nba_seasons_df[(nba_seasons_df['Year'] < 2020.0)]

In [6]:
nba_seasons_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19922,19922,2010.0,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,...,0.735,59.0,193.0,252.0,138.0,46.0,30.0,74.0,225.0,724.0
19923,19923,2010.0,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,...,0.000,1.0,3.0,4.0,0.0,1.0,1.0,2.0,5.0,10.0
19924,19924,2010.0,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,...,0.757,192.0,435.0,627.0,160.0,67.0,48.0,104.0,231.0,1393.0
19925,19925,2010.0,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,...,0.667,2.0,3.0,5.0,2.0,1.0,1.0,0.0,9.0,4.0
19926,19926,2010.0,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,...,0.923,36.0,46.0,82.0,16.0,11.0,5.0,22.0,68.0,105.0

In [7]:
nba_seasons_df = nba_seasons_df.drop(columns = ['Unnamed: 0'])
nba_seasons_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19922,2010.0,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,0.576,...,0.735,59.0,193.0,252.0,138.0,46.0,30.0,74.0,225.0,724.0
19923,2010.0,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,0.479,...,0.000,1.0,3.0,4.0,0.0,1.0,1.0,2.0,5.0,10.0
19924,2010.0,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,0.535,...,0.757,192.0,435.0,627.0,160.0,67.0,48.0,104.0,231.0,1393.0
19925,2010.0,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,0.273,...,0.667,2.0,3.0,5.0,2.0,1.0,1.0,0.0,9.0,4.0
19926,2010.0,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,0.431,...,0.923,36.0,46.0,82.0,16.0,11.0,5.0,22.0,68.0,105.0

In [8]:
nba_seasons_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19922,2010.0,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,0.576,...,0.735,59.0,193.0,252.0,138.0,46.0,30.0,74.0,225.0,724.0
19923,2010.0,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,0.479,...,0.000,1.0,3.0,4.0,0.0,1.0,1.0,2.0,5.0,10.0
19924,2010.0,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,0.535,...,0.757,192.0,435.0,627.0,160.0,67.0,48.0,104.0,231.0,1393.0
19925,2010.0,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,0.273,...,0.667,2.0,3.0,5.0,2.0,1.0,1.0,0.0,9.0,4.0
19926,2010.0,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,0.431,...,0.923,36.0,46.0,82.0,16.0,11.0,5.0,22.0,68.0,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [9]:
nba_seasons_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4762 entries, 19922 to 24690
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    4762 non-null   float64
 1   Player  4762 non-null   object
 2   Pos     4762 non-null   object
 3   Age     4762 non-null   float64
 4   Tm      4762 non-null   object
 5   G       4762 non-null   float64
 6   GS      4762 non-null   float64
 7   MP      4762 non-null   float64
 8   PER     4760 non-null   float64
 9   TS%     4738 non-null   float64
 10  3PAr    4738 non-null   float64
 11  FTr     4738 non-null   float64
 12  ORB%    4760 non-null   float64
 13  DRB%    4760 non-null   float64
 14  TRB%    4760 non-null   float64
 15  AST%    4760 non-null   float64
 16  STL%    4760 non-null   float64
 17  BLK%    4760 non-null   float64
 18  TOV%    4743 non-null   float64
 19  USG%    4760 non-null   float64
 20  blanl   0 non-null      float64
 21  OWS     4762 non-null   float64
 22  DWS     4762 non-null   float64
 23  WS      4762 non-null   float64
 24  WS/48   4760 non-null   float64
 25  blank2  0 non-null      float64
 26  OBPM    4762 non-null   float64
 27  DBPM    4762 non-null   float64
 28  BPM     4762 non-null   float64
 29  VORP    4762 non-null   float64
 30  FG      4762 non-null   float64
 31  FGA     4762 non-null   float64
 32  FG%     4738 non-null   float64
 33  3P      4762 non-null   float64
 34  3PA     4762 non-null   float64
 35  3P%     4085 non-null   float64
 36  2P      4762 non-null   float64
 37  2PA     4762 non-null   float64
 38  2P%     4723 non-null   float64
 39  eFG%    4738 non-null   float64
 40  FT      4762 non-null   float64
 41  FTA     4762 non-null   float64
 42  FT%     4560 non-null   float64
 43  ORB     4762 non-null   float64
 44  DRB     4762 non-null   float64
 45  TRB     4762 non-null   float64
 46  AST     4762 non-null   float64
 47  STL     4762 non-null   float64
 48  BLK     4762 non-null   float64
 49  TOV     4762 non-null   float64
 50  PF      4762 non-null   float64
 51  PTS     4762 non-null   float64
dtypes: float64(49), object(3)
memory usage: 1.9+ MB

In [10]:
nba_seasons_df['Year'] = pd.to_datetime(nba_seasons_df['Year'], format = '%Y')
nba_seasons_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19922,2010-01-01,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,0.576,...,0.735,59.0,193.0,252.0,138.0,46.0,30.0,74.0,225.0,724.0
19923,2010-01-01,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,0.479,...,0.000,1.0,3.0,4.0,0.0,1.0,1.0,2.0,5.0,10.0
19924,2010-01-01,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,0.535,...,0.757,192.0,435.0,627.0,160.0,67.0,48.0,104.0,231.0,1393.0
19925,2010-01-01,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,0.273,...,0.667,2.0,3.0,5.0,2.0,1.0,1.0,0.0,9.0,4.0
19926,2010-01-01,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,0.431,...,0.923,36.0,46.0,82.0,16.0,11.0,5.0,22.0,68.0,105.0

In [11]:
nba_seasons_df['Year'] = nba_seasons_df['Year'] - pd.offsets.DateOffset(years=1)
nba_seasons_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19922,2009-01-01,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,0.576,...,0.735,59.0,193.0,252.0,138.0,46.0,30.0,74.0,225.0,724.0
19923,2009-01-01,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,0.479,...,0.000,1.0,3.0,4.0,0.0,1.0,1.0,2.0,5.0,10.0
19924,2009-01-01,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,0.535,...,0.757,192.0,435.0,627.0,160.0,67.0,48.0,104.0,231.0,1393.0
19925,2009-01-01,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,0.273,...,0.667,2.0,3.0,5.0,2.0,1.0,1.0,0.0,9.0,4.0
19926,2009-01-01,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,0.431,...,0.923,36.0,46.0,82.0,16.0,11.0,5.0,22.0,68.0,105.0

In [12]:
nba_seasons_df['Season'] = nba_seasons_df['Year'].dt.year
nba_seasons_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season
19922,2009-01-01,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,0.576,...,59.0,193.0,252.0,138.0,46.0,30.0,74.0,225.0,724.0,2009
19923,2009-01-01,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,0.479,...,1.0,3.0,4.0,0.0,1.0,1.0,2.0,5.0,10.0,2009
19924,2009-01-01,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,0.535,...,192.0,435.0,627.0,160.0,67.0,48.0,104.0,231.0,1393.0,2009
19925,2009-01-01,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,0.273,...,2.0,3.0,5.0,2.0,1.0,1.0,0.0,9.0,4.0,2009
19926,2009-01-01,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,0.431,...,36.0,46.0,82.0,16.0,11.0,5.0,22.0,68.0,105.0,2009

In [13]:
#make the df easier to type
df = nba_seasons_df

In [14]:
#ppg 
df['PPG'] = df['PTS'].div(df['G'].values)
df['RPG'] = df['TRB'].div(df['G'].values)
df['APG'] = df['AST'].div(df['G'].values)
df['SPG'] = df['STL'].div(df['G'].values)
df['BPG'] = df['BLK'].div(df['G'].values)
df['TOPG'] = df['TOV'].div(df['G'].values)
df['PFPG'] = df['PF'].div(df['G'].values)
df['MPG'] = df['MP'].div(df['G'].values)
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,PTS,Season,PPG,RPG,APG,SPG,BPG,TOPG,PFPG,MPG
19922,2009-01-01,Arron Afflalo,SG,24.0,DEN,82.0,75.0,2221.0,10.9,0.576,...,724.0,2009,8.829268,3.073171,1.682927,0.560976,0.365854,0.902439,2.743902,27.085366
19923,2009-01-01,Alexis Ajinca,C,21.0,CHA,6.0,0.0,30.0,6.3,0.479,...,10.0,2009,1.666667,0.666667,0.000000,0.166667,0.166667,0.333333,0.833333,5.000000
19924,2009-01-01,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,2922.0,18.2,0.535,...,1393.0,2009,17.858974,8.038462,2.051282,0.858974,0.615385,1.333333,2.961538,37.461538
19925,2009-01-01,Joe Alexander,SF,23.0,CHI,8.0,0.0,29.0,2.8,0.273,...,4.0,2009,0.500000,0.625000,0.250000,0.125000,0.125000,0.000000,1.125000,3.625000
19926,2009-01-01,Malik Allen,PF,31.0,DEN,51.0,3.0,456.0,5.9,0.431,...,105.0,2009,2.058824,1.607843,0.313725,0.215686,0.098039,0.431373,1.333333,8.941176

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4762 entries, 19922 to 24690
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    4762 non-null   datetime64[ns]
 1   Player  4762 non-null   object
 2   Pos     4762 non-null   object
 3   Age     4762 non-null   float64
 4   Tm      4762 non-null   object
 5   G       4762 non-null   float64
 6   GS      4762 non-null   float64
 7   MP      4762 non-null   float64
 8   PER     4760 non-null   float64
 9   TS%     4738 non-null   float64
 10  3PAr    4738 non-null   float64
 11  FTr     4738 non-null   float64
 12  ORB%    4760 non-null   float64
 13  DRB%    4760 non-null   float64
 14  TRB%    4760 non-null   float64
 15  AST%    4760 non-null   float64
 16  STL%    4760 non-null   float64
 17  BLK%    4760 non-null   float64
 18  TOV%    4743 non-null   float64
 19  USG%    4760 non-null   float64
 20  blanl   0 non-null      float64
 21  OWS     4762 non-null   float64
 22  DWS     4762 non-null   float64
 23  WS      4762 non-null   float64
 24  WS/48   4760 non-null   float64
 25  blank2  0 non-null      float64
 26  OBPM    4762 non-null   float64
 27  DBPM    4762 non-null   float64
 28  BPM     4762 non-null   float64
 29  VORP    4762 non-null   float64
 30  FG      4762 non-null   float64
 31  FGA     4762 non-null   float64
 32  FG%     4738 non-null   float64
 33  3P      4762 non-null   float64
 34  3PA     4762 non-null   float64
 35  3P%     4085 non-null   float64
 36  2P      4762 non-null   float64
 37  2PA     4762 non-null   float64
 38  2P%     4723 non-null   float64
 39  eFG%    4738 non-null   float64
 40  FT      4762 non-null   float64
 41  FTA     4762 non-null   float64
 42  FT%     4560 non-null   float64
 43  ORB     4762 non-null   float64
 44  DRB     4762 non-null   float64
 45  TRB     4762 non-null   float64
 46  AST     4762 non-null   float64
 47  STL     4762 non-null   float64
 48  BLK     4762 non-null   float64
 49  TOV     4762 non-null   float64
 50  PF      4762 non-null   float64
 51  PTS     4762 non-null   float64
 52  Season  4762 non-null   int64
 53  PPG     4762 non-null   float64
 54  RPG     4762 non-null   float64
 55  APG     4762 non-null   float64
 56  SPG     4762 non-null   float64
 57  BPG     4762 non-null   float64
 58  TOPG    4762 non-null   float64
 59  PFPG    4762 non-null   float64
 60  MPG     4762 non-null   float64
dtypes: datetime64[ns](1), float64(56), int64(1), object(3)
memory usage: 2.3+ MB

In [16]:
df = df[['Season', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MPG', 'PPG', 'RPG', 'APG', 'SPG', 'BPG', 'TOPG', 'eFG%','FG', 'FGA', 'FG%','3P', '3PA','3P%','FT','FTA','FT%', 'PFPG','PER','TS%','USG%','OWS','DWS','WS','WS/48','OBPM','DBPM','BPM','VORP']]
df.head()

,Season,Player,Pos,Age,Tm,G,GS,MPG,PPG,RPG,...,TS%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
19922,2009,Arron Afflalo,SG,24.0,DEN,82.0,75.0,27.085366,8.829268,3.073171,...,0.576,14.0,2.8,1.4,4.3,0.092,0.8,-0.5,0.3,1.3
19923,2009,Alexis Ajinca,C,21.0,CHA,6.0,0.0,5.000000,1.666667,0.666667,...,0.479,19.3,-0.1,0.0,0.0,-0.013,-8.5,-2.0,-10.4,-0.1
19924,2009,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,37.461538,17.858974,8.038462,...,0.535,22.9,5.5,3.3,8.8,0.145,0.9,0.6,1.6,2.6
19925,2009,Joe Alexander,SF,23.0,CHI,8.0,0.0,3.625000,0.500000,0.625000,...,0.273,11.3,0.0,0.0,0.0,0.030,-5.2,1.5,-3.7,0.0
19926,2009,Malik Allen,PF,31.0,DEN,51.0,3.0,8.941176,2.058824,1.607843,...,0.431,14.0,-0.3,0.3,0.1,0.009,-4.2,-0.8,-5.0,-0.3

In [17]:
df

,Season,Player,Pos,Age,Tm,G,GS,MPG,PPG,RPG,...,TS%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
19922,2009,Arron Afflalo,SG,24.0,DEN,82.0,75.0,27.085366,8.829268,3.073171,...,0.576,14.0,2.8,1.4,4.3,0.092,0.8,-0.5,0.3,1.3
19923,2009,Alexis Ajinca,C,21.0,CHA,6.0,0.0,5.000000,1.666667,0.666667,...,0.479,19.3,-0.1,0.0,0.0,-0.013,-8.5,-2.0,-10.4,-0.1
19924,2009,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,37.461538,17.858974,8.038462,...,0.535,22.9,5.5,3.3,8.8,0.145,0.9,0.6,1.6,2.6
19925,2009,Joe Alexander,SF,23.0,CHI,8.0,0.0,3.625000,0.500000,0.625000,...,0.273,11.3,0.0,0.0,0.0,0.030,-5.2,1.5,-3.7,0.0
19926,2009,Malik Allen,PF,31.0,DEN,51.0,3.0,8.941176,2.058824,1.607843,...,0.431,14.0,-0.3,0.3,0.1,0.009,-4.2,-0.8,-5.0,-0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2016,Cody Zeller,PF,24.0,CHO,62.0,58.0,27.822581,10.306452,6.532258,...,0.604,15.5,3.4,2.2,5.6,0.157,-0.2,2.3,2.1,1.8
24687,2016,Tyler Zeller,C,27.0,BOS,51.0,5.0,10.294118,3.490196,2.431373,...,0.508,16.5,0.5,0.6,1.0,0.094,-3.2,0.8,-2.5,-0.1
24688,2016,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,5.684211,1.210526,1.842105,...,0.346,14.8,-0.1,0.1,0.0,-0.005,-7.8,0.4,-7.3,-0.1
24689,2016,Paul Zipser,SF,22.0,CHI,44.0,18.0,19.159091,5.454545,2.840909,...,0.503,14.4,-0.3,0.8,0.5,0.030,-3.6,-0.1,-3.7,-0.4
24690,2016,Ivica Zubac,C,19.0,LAL,38.0,11.0,16.026316,7.473684,4.184211,...,0.547,20.3,0.6,0.5,1.1,0.086,-2.7,0.3,-2.5,-0.1

In [18]:
df['Season'].unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4762 entries, 19922 to 24690
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  4762 non-null   int64
 1   Player  4762 non-null   object
 2   Pos     4762 non-null   object
 3   Age     4762 non-null   float64
 4   Tm      4762 non-null   object
 5   G       4762 non-null   float64
 6   GS      4762 non-null   float64
 7   MPG     4762 non-null   float64
 8   PPG     4762 non-null   float64
 9   RPG     4762 non-null   float64
 10  APG     4762 non-null   float64
 11  SPG     4762 non-null   float64
 12  BPG     4762 non-null   float64
 13  TOPG    4762 non-null   float64
 14  eFG%    4738 non-null   float64
 15  FG      4762 non-null   float64
 16  FGA     4762 non-null   float64
 17  FG%     4738 non-null   float64
 18  3P      4762 non-null   float64
 19  3PA     4762 non-null   float64
 20  3P%     4085 non-null   float64
 21  FT      4762 non-null   float64
 22  FTA     4762 non-null   float64
 23  FT%     4560 non-null   float64
 24  PFPG    4762 non-null   float64
 25  PER     4760 non-null   float64
 26  TS%     4738 non-null   float64
 27  USG%    4760 non-null   float64
 28  OWS     4762 non-null   float64
 29  DWS     4762 non-null   float64
 30  WS      4762 non-null   float64
 31  WS/48   4760 non-null   float64
 32  OBPM    4762 non-null   float64
 33  DBPM    4762 non-null   float64
 34  BPM     4762 non-null   float64
 35  VORP    4762 non-null   float64
dtypes: float64(32), int64(1), object(3)
memory usage: 1.3+ MB

In [20]:
seventeen = "2017.csv"
seventeen_df = pd.read_csv(seventeen, encoding = "utf-8")

In [21]:
#seventeen_df.head()

In [22]:
eighteen = "2018.csv"
eighteen_df = pd.read_csv(eighteen, encoding = "utf-8")

In [23]:
#eighteen_df.head()

In [24]:
frames = [df, seventeen_df, eighteen_df]
df_clean = pd.concat(frames)

In [25]:
df_clean

,Season,Player,Pos,Age,Tm,G,GS,MPG,PPG,RPG,...,TS%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
19922,2009,Arron Afflalo,SG,24.0,DEN,82.0,75.0,27.085366,8.829268,3.073171,...,0.576,14.0,2.8,1.4,4.3,0.092,0.8,-0.5,0.3,1.3
19923,2009,Alexis Ajinca,C,21.0,CHA,6.0,0.0,5.000000,1.666667,0.666667,...,0.479,19.3,-0.1,0.0,0.0,-0.013,-8.5,-2.0,-10.4,-0.1
19924,2009,LaMarcus Aldridge,PF,24.0,POR,78.0,78.0,37.461538,17.858974,8.038462,...,0.535,22.9,5.5,3.3,8.8,0.145,0.9,0.6,1.6,2.6
19925,2009,Joe Alexander,SF,23.0,CHI,8.0,0.0,3.625000,0.500000,0.625000,...,0.273,11.3,0.0,0.0,0.0,0.030,-5.2,1.5,-3.7,0.0
19926,2009,Malik Allen,PF,31.0,DEN,51.0,3.0,8.941176,2.058824,1.607843,...,0.431,14.0,-0.3,0.3,0.1,0.009,-4.2,-0.8,-5.0,-0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,2018,Tyler Zeller,C,29.0,MEM,4.0,1.0,20.500000,11.500000,4.500000,...,0.607,20.1,0.2,0.1,0.3,0.167,-3.1,-1.9,-5.0,-0.1
704,2018,Ante Å½iÅ¾iÄ‡,C,22.0,CLE,59.0,25.0,18.300000,7.800000,5.400000,...,0.590,18.2,1.7,0.3,2.0,0.087,-1.1,-2.1,-3.2,-0.3
705,2018,Ivica Zubac,C,21.0,TOT,59.0,37.0,17.600000,8.900000,6.100000,...,0.604,20.3,1.9,1.3,3.2,0.148,-0.2,-0.2,-0.5,0.4
706,2018,Ivica Zubac,C,21.0,LAL,33.0,12.0,15.600000,8.500000,4.900000,...,0.604,20.3,1.9,1.3,3.2,0.148,-0.2,-0.2,-0.5,0.4
707,2018,Ivica Zubac,C,21.0,LAC,26.0,25.0,20.200000,9.400000,7.700000,...,0.604,20.3,1.9,1.3,3.2,0.148,-0.2,-0.2,-0.5,0.4

In [26]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6134 entries, 19922 to 707
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  6134 non-null   int64
 1   Player  6134 non-null   object
 2   Pos     6134 non-null   object
 3   Age     6134 non-null   float64
 4   Tm      6134 non-null   object
 5   G       6134 non-null   float64
 6   GS      6134 non-null   float64
 7   MPG     6134 non-null   float64
 8   PPG     6134 non-null   float64
 9   RPG     6134 non-null   float64
 10  APG     6134 non-null   float64
 11  SPG     6134 non-null   float64
 12  BPG     6134 non-null   float64
 13  TOPG    6134 non-null   float64
 14  eFG%    6100 non-null   float64
 15  FG      6134 non-null   float64
 16  FGA     6134 non-null   float64
 17  FG%     6100 non-null   float64
 18  3P      6134 non-null   float64
 19  3PA     6134 non-null   float64
 20  3P%     5345 non-null   float64
 21  FT      6134 non-null   float64
 22  FTA     6134 non-null   float64
 23  FT%     5831 non-null   float64
 24  PFPG    6134 non-null   float64
 25  PER     6132 non-null   float64
 26  TS%     6110 non-null   float64
 27  USG%    6132 non-null   float64
 28  OWS     6134 non-null   float64
 29  DWS     6134 non-null   float64
 30  WS      6134 non-null   float64
 31  WS/48   6132 non-null   float64
 32  OBPM    6134 non-null   float64
 33  DBPM    6134 non-null   float64
 34  BPM     6134 non-null   float64
 35  VORP    6134 non-null   float64
dtypes: float64(32), int64(1), object(3)
memory usage: 1.7+ MB

In [27]:
df_clean = df_clean.fillna(value=0, axis=None, inplace=False, limit=None, downcast=None)

In [28]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6134 entries, 19922 to 707
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  6134 non-null   int64
 1   Player  6134 non-null   object
 2   Pos     6134 non-null   object
 3   Age     6134 non-null   float64
 4   Tm      6134 non-null   object
 5   G       6134 non-null   float64
 6   GS      6134 non-null   float64
 7   MPG     6134 non-null   float64
 8   PPG     6134 non-null   float64
 9   RPG     6134 non-null   float64
 10  APG     6134 non-null   float64
 11  SPG     6134 non-null   float64
 12  BPG     6134 non-null   float64
 13  TOPG    6134 non-null   float64
 14  eFG%    6134 non-null   float64
 15  FG      6134 non-null   float64
 16  FGA     6134 non-null   float64
 17  FG%     6134 non-null   float64
 18  3P      6134 non-null   float64
 19  3PA     6134 non-null   float64
 20  3P%     6134 non-null   float64
 21  FT      6134 non-null   float64
 22  FTA     6134 non-null   float64
 23  FT%     6134 non-null   float64
 24  PFPG    6134 non-null   float64
 25  PER     6134 non-null   float64
 26  TS%     6134 non-null   float64
 27  USG%    6134 non-null   float64
 28  OWS     6134 non-null   float64
 29  DWS     6134 non-null   float64
 30  WS      6134 non-null   float64
 31  WS/48   6134 non-null   float64
 32  OBPM    6134 non-null   float64
 33  DBPM    6134 non-null   float64
 34  BPM     6134 non-null   float64
 35  VORP    6134 non-null   float64
dtypes: float64(32), int64(1), object(3)
memory usage: 1.7+ MB

In [29]:
df_clean.to_csv ('seasons_clean.csv', index = False, header = True)