In [3]:
#import parameters
import pandas as pd

In [ ]:
#bring in the CSV and convert into a dataframe
nba_data = "all_seasons.csv"
nba_df = pd.read_csv(nba_data, encoding = "utf-8")

In [8]:
#check all the columns and datatype
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11700 entries, 0 to 11699
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         11700 non-null  int64
 1   player_name        11700 non-null  object
 2   team_abbreviation  11700 non-null  object
 3   age                11700 non-null  float64
 4   player_height      11700 non-null  float64
 5   player_weight      11700 non-null  float64
 6   college            11700 non-null  object
 7   country            11700 non-null  object
 8   draft_year         11700 non-null  object
 9   draft_round        11700 non-null  object
 10  draft_number       11700 non-null  object
 11  gp                 11700 non-null  int64
 12  pts                11700 non-null  float64
 13  reb                11700 non-null  float64
 14  ast                11700 non-null  float64
 15  net_rating         11700 non-null  float64
 16  oreb_pct           11700 non-null  float64
 17  dreb_pct           11700 non-null  float64
 18  usg_pct            11700 non-null  float64
 19  ts_pct             11700 non-null  float64
 20  ast_pct            11700 non-null  float64
 21  season             11700 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.0+ MB

In [12]:
#drop the first column since it's a copy of the index
nba_df = nba_df.drop(columns = ['Unnamed: 0'])

In [13]:
#make sure the unnamed column is dropped
nba_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Travis Knight,LAL,22.0,213.36,106.59412,Connecticut,USA,1996,1,29,...,4.8,4.5,0.5,6.2,0.127,0.182,0.142,0.536,0.052,1996-97
1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,50,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,25,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97

In [15]:
#separating the year in season by splitting the data through the dash
nba_df[["season 1", "year"]] = nba_df["season"].str.split("-", expand = True)
nba_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season 1,year
0,Travis Knight,LAL,22.0,213.36,106.59412,Connecticut,USA,1996,1,29,...,0.5,6.2,0.127,0.182,0.142,0.536,0.052,1996-97,1996,97
1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,50,...,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97,1996,97
2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,Undrafted,...,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97,1996,97
3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,Undrafted,...,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97,1996,97
4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,25,...,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97,1996,97

In [24]:
nba_df['season 1'] = pd.to_datetime(nba_df['season 1'])
nba_df['season 1']

0       1996-01-01
1       1996-01-01
2       1996-01-01
3       1996-01-01
4       1996-01-01
           ...
11695   2020-01-01
11696   2020-01-01
11697   2020-01-01
11698   2020-01-01
11699   2020-01-01
Name: season 1, Length: 11700, dtype: datetime64[ns]

In [26]:
nba_df = nba_df [(nba_df ['season 1'] > '2008-01-01')]
nba_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season 1,year
5784,Renaldo Balkman,DEN,25.0,203.20,94.347136,South Carolina,USA,2006,1,20,...,0.5,-22.4,0.045,0.211,0.128,0.339,0.108,2009-10,2009-01-01,10
5785,Reggie Williams,GSW,23.0,201.00,86.000000,Virginia Military Institute,USA,Undrafted,Undrafted,Undrafted,...,2.8,-3.5,0.025,0.129,0.188,0.588,0.125,2009-10,2009-01-01,10
5786,Reggie Evans,TOR,30.0,203.20,111.130040,Iowa,USA,Undrafted,Undrafted,Undrafted,...,0.3,1.5,0.128,0.292,0.175,0.498,0.038,2009-10,2009-01-01,10
5787,Raymond Felton,CHA,26.0,185.42,89.811216,North Carolina,USA,2005,1,5,...,5.6,2.1,0.024,0.107,0.192,0.525,0.283,2009-10,2009-01-01,10
5788,Rashard Lewis,ORL,30.0,208.28,104.326160,None,USA,1998,2,32,...,1.5,8.7,0.032,0.118,0.196,0.573,0.075,2009-10,2009-01-01,10

In [27]:
nba_df = nba_df.drop(columns = ['season 1', 'year'])

In [29]:
nba_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
5784,Renaldo Balkman,DEN,25.0,203.20,94.347136,South Carolina,USA,2006,1,20,...,1.1,1.8,0.5,-22.4,0.045,0.211,0.128,0.339,0.108,2009-10
5785,Reggie Williams,GSW,23.0,201.00,86.000000,Virginia Military Institute,USA,Undrafted,Undrafted,Undrafted,...,15.2,4.6,2.8,-3.5,0.025,0.129,0.188,0.588,0.125,2009-10
5786,Reggie Evans,TOR,30.0,203.20,111.130040,Iowa,USA,Undrafted,Undrafted,Undrafted,...,3.4,3.8,0.3,1.5,0.128,0.292,0.175,0.498,0.038,2009-10
5787,Raymond Felton,CHA,26.0,185.42,89.811216,North Carolina,USA,2005,1,5,...,12.1,3.6,5.6,2.1,0.024,0.107,0.192,0.525,0.283,2009-10
5788,Rashard Lewis,ORL,30.0,208.28,104.326160,None,USA,1998,2,32,...,14.1,4.4,1.5,8.7,0.032,0.118,0.196,0.573,0.075,2009-10

In [30]:
nba_df.to_csv ('all_seasons_clean.csv', index = False, header = True)